{% extends "base.html" %}
{% block content %}
<div class="container center">
    <div class="row">
        <div class="col s12 card-panel form-heading center">
            <div class="row">
                <div class="col s12">
                    <h3>404</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 ">
                    <h5>Uh-Oh, This Page is Undercooked!</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p >It seems this page is missing a key ingredient. Don't let that stop you from finding the perfect recipe! Head back to the homepage or explore our site for more tasty options.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <a class="btn orange-light-button" href="{{ url_for('index') }}">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}