{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel form-heading">
            <h3 class="center-align">Edit Recipe</h3>
        </div>
    </div>
</div>



<div class="row card-panel form-container">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id= recipe._id) }}">

        <!-- Select Category -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-solid fa-folder-open prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>

        <!-- Recipe Title -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-solid fa-pencil prefix"></i>
                <input id="recipe_title" name="recipe_title" minlength="5" maxlength="50" type="text" class="validate"
                    value="{{ recipe.recipe_title }}" required>
                <label for="recipe_title">Recipe Title</label>
            </div>
        </div>

        <!-- Cuisine -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-solid fa-globe prefix"></i>
                <input id="cuisine" name="cuisine" minlength="5" maxlength="50" type="text" class="validate"
                    value="{{ recipe.cuisine }}" placeholder="Optional">
                <label for="cuisine">Cuisine</label>
            </div>
        </div>

        <!-- Preparation Time -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-regular fa-hourglass-half prefix"></i>
                <input type="number" name="preparation_time" id="preparation_time" class="validate"
                    value="{{ recipe.preparation_time }}" min="1" required>
                <label for="preparation_time">Preparation Time(minutes)</label>
            </div>
        </div>

        <!-- Cook Time -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-solid fa-clock prefix"></i>
                <input type="number" name="cook_time" id="cook_time" class="validate" value="{{ recipe.cook_time }}"
                    min="1" required>
                <label for="cook_time">Cook Time(minutes)</label>
            </div>
        </div>

        <!-- Image URL -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-solid fa-image prefix"></i>
                <input type="url" name="image_url" id="image_url" class="validate" value="{{ recipe.image_url }}"
                    required>
                <label for="image_url">Image URL</label>
            </div>
        </div>

        <!-- Ingredients -->
        <div class="row">
            <div class="input-field col s10 offset-m1" id="ingredients-section">
                {% for ingredient in recipe.ingredients %}
                    <div class="input-field">
                        <i class="fa-solid fa-list-ul prefix"></i>
                        <textarea id="ingredient{{ loop.index }}" name="ingredients" minlength="5" maxlength="50" 
                            class="validate materialize-textarea" required>{{- ingredient -}}</textarea>
                        <label for="ingredient{{ loop.index }}">Ingredients</label>
                        <i class="fa-solid fa-times delete-ingredient"></i>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-m1">
                <button type="button" class="btn-small orange-light-button right-align" id="add-ingredient">Add
                    Ingredient</button>
            </div>
        </div>

        <!-- Preparation Steps -->
        <div class="row">
            <div class="input-field col s10 offset-m1" id="preparation-section">
                {% for step in recipe.preparation_step %}
                    <div class="input-field">
                        <i class="fa-solid fa-list-ol prefix"></i>
                        <textarea id="step{{ loop.index }}" name="preparation_step" minlength="5" maxlength="200"
                            class="validate materialize-textarea" required>{{- step -}}</textarea>
                        <label for="step{{ loop.index }}">Preparation Step {{ loop.index }}</label>
                        <i class="fa-solid fa-times delete-step"></i>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-m1">
                <button type="button" class="btn-small orange-light-button right-align" id="add-step">Add Step</button>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s10 offset-m1 center-align">
                <a href="{{ url_for('index') }}" class="btn-large blue-button">
                    Cancel<i class="fa-solid fa-circle-xmark right"></i></a>
                <button type="submit" class="btn-large orange-button">
                    Edit Recipe<i class="fa-solid fa-pen-square right"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    $('textarea').each(function() {
        M.textareaAutoResize(this);
        $(this).siblings('label').addClass('active');
    });

    M.updateTextFields(); 

    $('textarea').characterCounter();
});
</script>
{% endblock %}