{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel form-heading">
            <h3 class="center-align">Edit Category</h3>
        </div>
    </div>
</div>

<div class="row card-panel form-container">
    <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">

        <!-- Category Name -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fa-solid fa-folder-open prefix"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text" class="validate"
                    value="{{ category.category_name }}" required>
                <label for="category_name">Category Name</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s10 offset-m1 center-align">
                <a href="{{ url_for('get_categories') }}" class="btn-large blue-button">
                    Cancel<i class="fa-solid fa-circle-xmark right"></i></a>
                <button type="submit" class="btn-large orange-button">
                    Edit Category<i class="fa-solid fa-pen-to-square right"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}