<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavor Hub</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_title }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.preparation_steps }}<br>
        {{ recipe.cuisine }}<br>
        {{ recipe.preparation_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.image_url }}<br>
    {% endfor %}
</body>
</html>