{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Login</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel ">
            <!--username or email-->
            <div class="row">
                <div class="input-field col s10 offset-m1">
                    <i class="fa-solid fa-user-gear prefix"></i>
                    <input id="username_or_email" name="username_or_email" type="text" minlength="5" 
                    maxlength="15" pattern="^[a-zA-Z0-9@._-]{5,50}$" class="validate" required>
                    <label for="username_or_email">Username or email</label>
                </div>
            </div>

            <!--password-->
            <div class="row">
                <div class="input-field col s10 offset-m1">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="8" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{8,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!--register-->
            <div class="row">
                <button class=" col s4 offset-m4 btn amber darken-3 " type="submit">
                    Login
                </button>
            </div>
        </div>
    </form>
</div>

<!--Register-->
<div class="row">
    <div class="col s12">
        <div class="center-align">
            New Here? 
            <a href="{{ url_for('register') }}" class="orange-text text-darken-4">Register Account</a>
        </div>
    </div>
</div>

{% endblock %}